@import "_variables";
@import "_mixins";

// ------------- reset and base

@font-face {
    font-family: 'Avenir Next LT Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Condensed'), url('../../assets/fonts/AvenirNextLTPro-Cn.woff') format('woff');
}
@font-face {
    font-family: 'Archer Book';
    font-style: normal;
    font-weight: normal;
    src: local('Archer Book'), url('../../assets/fonts/Archer-Book-Pro.woff') format('woff');
}

* {
  margin:0;
  padding:0;
  line-height:1;
  border:0;
  background:transparent;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);


}

body {
  font-family: 'Avenir Next LT Pro Condensed', 'Helvetica', 'Arial MT Bold', sans-serif;
  color: $heading-text-color;
  //background-image: url("http://www.jamiecoulter.co.uk/dev/codepen/blurred_bg.jpg");
  //font-family: 'Raleway', sans-serif;
  //background-size: 100% 100%;
  background: linear-gradient($color3, $color5);
}

a {
    text-decorationblock--color1: none;
}

// ------------- blocks

.block {
    &--show {
        display: block !important;
    }
    &--color1 {
        background-color: $color1;
    }
    &--color2 {
        background-color: $color2;
    }
    &--color3 {
        background-color: $color3;
    }
    &--color4 {
        background-color: $color4;
    }
    &--color5 {
        background-color: $color5;
    }
}

// ------------- heros

.hero-module {
    font-family: 'Archer Book', 'Georgia', 'Palatino Linotype', serif;
    height:350px;
    h1 {
        color: $color5;
        font-size: 5rem;
        small {
            display: block;
            clear:left;
            color: $color3;
            font-size: 1.3rem;
        }
    }
}

// ------------- heros

.flex__container--text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .flex__container--text--item {
        text-align: center;
    }
    &--hero {
        width: auto;
    }
}

//
.container__content--promos {
    > div {
        height: 300px;
    }
}

// ------------- flex

.flex__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; //space-around
    align-items: flex-start;
    align-content: flex-start; // stretch
    .flex__container__item {
        padding: 10px;
        flex: 1 100%;
        flex-basis: 20%;
        align-self: stretch;
        margin:5px;
        &:first-child {
            margin-left:0;
        }
        &:last-child {
            margin-right:0;
        }
        @include bp-medium {
            flex-basis: 10px;
        }
    }
}

// ------------- sticky nav overrides
.sticky--stuck {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:0.25s;
    -moz-animation-duration:0.25s;
    animation-duration:0.25s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

// ------------- icons

.icon {
  display: inline-block;
  margin-right:10px;
  color: white;
  font-weight: 300;
}

.icon--loading--animated {
  color: black;
  animation: loading ease-in-out 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: loading ease-in-out 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: loading ease-in-out 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
}

@keyframes loading {
  0% {
    opacity:1;
    transform:  translate(0px,0px) rotate(0deg);
  }
  50% {
    opacity:0.25;
    transform:  translate(75px,0px) rotate(180deg);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px) rotate(0deg);
  }
}

@-moz-keyframes loading{
  0% {
    opacity:1;
    -moz-transform:  translate(0px,0px) rotate(0deg);
  }
  50% {
    opacity:0.25;
    -moz-transform:  translate(75px,0px) rotate(180deg);
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px) rotate(0deg);
  }
}

@-webkit-keyframes loading {
  0% {
    opacity:1;
    -webkit-transform:  translate(0px,0px) rotate(0deg);
  }
  50% {
    opacity:0.25;
    -webkit-transform:  translate(75px,0px) rotate(180deg);
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px) rotate(0deg);
  }
}
