@import "_variables";
@import "_mixins";
@import "_typography";

// ------------- reset and base

@font-face {
    font-family: 'Avenir Next LT Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Condensed'), url('../../assets/fonts/AvenirNextLTPro-Cn.woff') format('woff');
}
@font-face {
    font-family: 'Archer Book';
    font-style: normal;
    font-weight: normal;
    src: local('Archer Book'), url('../../assets/fonts/Archer-Book-Pro.woff') format('woff');
}

* {
    margin:0;
    padding:0;
    line-height:1;
    border:0;
    background:transparent;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

body {
    font-family: $font-face-sans;
    color: $color1;
    //background-image: url("http://www.jamiecoulter.co.uk/dev/codepen/blurred_bg.jpg");
    //font-family: 'Raleway', sans-serif;
    //background-size: 100% 100%;
    background: linear-gradient($color3, $color5);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
    font-family: $font-face-serif;
}

a {
    color: $color2;
    &:hover {
        color: $color1;
        text-decoration: none;
    }
}

ul {
    list-style: none;
}

p {
    margin-bottom: 40px;
    font-size: 1.4rem;
    line-height: 1.4;
}

abbr {
    border-bottom: 1px dotted $color3;
}

// images
.img--inline {
    display: inline-block;
    &--logo {
        width:30px;
        opacity: 0.7;
    }
}

main {
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

// ------------- blocks

.block {
    &--show {
        display: block !important;
    }
    &--border--color1 {
        border: 8px solid $color1;
    }
    &--background--color1 {
        background-color: $color1;
    }
    &--border--color2 {
        border: 8px solid $color2;
    }
    &--background--color2 {
        background-color: $color2;
    }
    &--border--color3 {
        border: 8px solid $color3;
    }
    &--background--color3 {
        background-color: $color3;
    }
    &--border--color4 {
        border: 8px solid $color4;
    }
    &--background--color4 {
        background-color: $color4;
    }
    &--border--color5 {
        border: 8px solid $color5;
    }
    &--background--color5 {
        background-color: $color5;
    }
}

// ------------- heros

.hero-module {
    height:300px;
    h1 {
        color: $color5;
        font-size: 5rem;
        small {
            display: block;
            clear:left;
            color: $color3;
            font-size: 1.3rem;
        }
    }
}

// ------------- heros

.flex__container--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .flex__container--text--item {
        text-align: center;
    }
    &--hero {
        width: auto;
    }
    &--section {
        width: auto;
    }
}

// ------------- row

.row {
    clear: both;
    &--margin {
        margin-bottom:40px;
    }
}

// ------------- content containers

.container {
    &__loading {

    }
    &__content {
        margin-bottom: 40px;
    }
    &__page {
        margin: 40px auto;
        max-width: 60%;
        &--home {
            margin: 0;
            max-width: auto;
        }
    }
    &--last {
        margin-bottom: 80px;
    }
}

// ------------- flex

.flex__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; //space-around
    align-items: flex-start;
    align-content: flex-start; // stretch
    .flex__container__item {
        flex: 1 100%;
        flex-basis: 20%;
        align-self: stretch;
        margin:5px;
        overflow: hidden;
        position: relative;
        &:first-child {
            margin-left:0;
        }
        &:last-child {
            margin-right:0;
        }
        @include bp-medium {
            flex-basis: 10px;
        }
    }
}

// ------------- sticky nav overrides
.sticky--stuck {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:0.25s;
    -moz-animation-duration:0.25s;
    animation-duration:0.25s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

// ------------- icons

.material-icons {
    &.md-24 { font-size: 24px; }
    &.md-36 { font-size: 36px; }
    &.md-48 { font-size: 48px; }
    &.md-inline { transform: translate(0, 5px); }
}
