@mixin bp-large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (min-width : 480px) {
    @content;
  }
}

@mixin clearFix(){
  &:before,
  &:after{
    content: " ";
    display: table;
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}
