// http://mathayward.com/modular-css-with-sass-and-bem/
@import "_variables";
@import "_mixins";

.heading {
    &__page {
        font-size: 3rem;
        margin-bottom:20px;
        @include bp-medium {
            font-size: 4.5rem;
            margin-bottom:40px;
        }
        @include textShadow($color5);
    }
    &__page--h2 {
        font-size: 2.5rem;
        margin-bottom:15px;
        min-width: 300px;
        @include bp-medium {
            font-size: 3rem;
            margin-bottom: 20px;
        }
        @include bp-small {
            min-width: 400px;
        }
        @include textShadow($color5);
    }
    &__page--h3 {
        font-size: 2rem;
        margin-bottom:15px;
        @include bp-medium {
            font-size: 2.2rem;
        }
        @include textShadow($color5);
    }
}
