$home-colour: #000;
$home-font-colour: #56b699;
$home-bg-color: #171C21;
$heading-text-color: #515151;

$font-face-serif: 'Archer Book', 'Georgia', 'Palatino Linotype', serif;
$font-face-sans: 'Avenir Next LT Pro Condensed', 'Helvetica', 'Arial MT Bold', sans-serif;


/* Coolors Exported Palette - coolors.co/08415c-cc2936-6b818c-f1bf98-eee5e9 */

/* HSL */
$color1: hsla(199%, 84%, 20%, 1);
$color2: hsla(355%, 67%, 48%, 1);
$color3: hsla(200%, 13%, 48%, 1);
$color4: hsla(26%, 76%, 77%, 1);
$color5: hsla(333%, 21%, 92%, 1);

/* RGB */
$color1: rgba(8, 65, 92, 1);
$color2: rgba(204, 41, 54, 1);
$color3: rgba(107, 129, 140, 1);
$color4: rgba(241, 191, 152, 1);
$color5: rgba(238, 229, 233, 1);
