@import "_variables";
@import "_mixins";
.About {
    .block--client-list {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        opacity: 0.5;
        img {
            width: auto;
            height: 40px;
            margin: 0 10px 10px 0;
            border: 4px solid $color4;
        }
    }
    .img--bio-pic {
        width: 100%;
        margin: 0 0 10px 0;
        @include bp-small {
            float: left;
            width: 40%;
            margin: 0 20px 0 0;
        }
    }
}
