@import "_variables";
@import "_mixins";

.Footer {
    min-height:200px;
    footer > div:first-child {
        margin: 0 15%;
    }
    .footer__links {
        strong {
            display: inline-block;
            margin:0 8px;
        }
    }
    h2 {
        color: $color2;
        font-size: 4rem;
        border-bottom: 8px solid;
        padding-bottom: 20px;
        margin-bottom: 40px;
        min-width: 400px;
    }

    .container__svg {
        position: relative;
        overflow: hidden;
        height: 210px;
        polygon {
            stroke-width: 1px;
            stroke: none;
        }
    }
    .svg {
        &__mountain {
            &__base {
                position: absolute;
                bottom: -10px;
                z-index:100;
                &--right {
                    right: -25px;
                    polygon {
                        fill-opacity: 0.4;
                    }
                    &--over {
                        right: -50px;
                        bottom: -30px;
                        z-index:200;
                    }
                }
                &--left {
                    left: -25px;
                    margin-left:-5%;
                    polygon {
                        fill-opacity: 0.4;
                    }
                    &--over {
                        left: -50px;
                        bottom: -30px;
                        z-index:200;
                    }
                }
            }
        }
    }

}
