@import "_variables";
@import "_mixins";

.HomePromos {
    overflow: hidden;
    height: 100%;
    position: relative;
    .block__promo {
        height: 100%;
        width: 100%;
        @include backgroundColor(3, 0.2);
        position: absolute;
        z-index: 10;
        transition: all 0.15s ease-in;
        .block__promo--content {
            position: absolute;
            z-index: 20;
            top: 0px;
            display: block;
            height: 100%;
            width: 100%;
            padding:10px 15px 10px 15px;
            background-color: $color1;
        }

        p {
            height: 0;
            margin: 0;
            overflow: hidden;
            font-size: 1rem;
        }
        i {
            opacity: 0;
            transition: opacity 0.75s ease-in;
        }
        h3 {
            font-size: 2rem;
            transform: translate(0px);
        }
        &:hover {
            @include backgroundColor(5, 0);
            p {
                display: block;
                height: auto;
                animation: description-in-up ease-out .25s forwards;
            }
            i {
                opacity: 1;
            }
        }
        @include bp-medium {
            .block__promo--content {
                bottom: 10px;
                top: auto;
                display: inline-block;
                padding:10px 25px 10px 25px;
                height: auto;
                width: auto;
            }
            p {
                font-size: 1.2rem;
            }
            h3 {
                font-size: 3.4rem;
            }
        }
    }
    .container {
        &__content--promos {
            > div {
                height: 150px;
                a {
                    color: $color5;
                    &:hover {
                        color: $color5;
                    }
                }
            }
            @include bp-medium {
                > div {
                    height: 300px;
                    &:hover {
                        img {
                            animation: grow ease-out 3s forwards;
                        }
                    }
                }
            }
        }
    }
    .block {
        &--parallelogram {
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background-color: $color1;
            position: absolute;
            z-index: 100;
            opacity: 0.7;
        }
    }
    @include bp-medium {
        .block--parallelogram {
            &--right {
                transform: translate(56%);
            }
            &--left {
                transform: translate(-56%);
                .promos--content {
                    left: auto;
                    right: 15px;
                    text-align: right;
                    p {
                        transform: translate(-20px);
                    }
                }
            }
        }
    }
}

@keyframes description-in-right {
    0% {
        opacity: 0;
        transform: translate(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes description-in-left {
    0% {
        opacity: 0;
        transform: translate(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes description-in-up {
    0% {
        opacity: 0;
        transform: translate(0px, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes grow {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes reveal-parallelogram-left {
    0% {
        background-color: transparent;
        opacity: 0;
        transform: translate(-100px) skew(20deg);
    }
    100% {
        background-color: $color1;
        opacity: 1;
        transform: translate(0) skew(0deg);
    }
}

@keyframes reveal-parallelogram-right {
    0% {
        opacity: 0.8;
        transform: translate(56%);
    }
    100% {
        opacity: 1;
        transform: translate(46%);
    }
}
