@import "_variables";
@import "_mixins";

.Home {
    article {
        max-width: 50%;
        min-height: 250px;
    }
    h2 {
        color: $color2;
        font-size: 4rem;
        border-bottom: 8px solid;
        padding-bottom: 20px;
        margin-bottom: 40px;
        min-width: 400px;
    }
}

.world {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    top:0;
    left:0;
}
