@import "_variables";
@import "_mixins";

.Home {
    article {
        max-width: 50%;
        min-height: 250px;
    }
    h2 {
        color: $color2;
        font-size: 4rem;
        border-bottom: 8px solid;
        padding-bottom: 20px;
        margin-bottom: 40px;
        min-width: 400px;
    }
}
