@import "_variables";

.Loading {
    background: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    left: 0;

    small {
        display: inline-block;
        animation: loading-text ease-in-out 1.5s;
        animation-fill-mode:forwards;
        animation-iteration-count: infinite;
        transform: translate(0px,-7px);
    }

    .icon__loading--animated {
        &--left {
            animation: loading-left ease-in-out 1.5s;
            animation-fill-mode:forwards;
            animation-iteration-count: infinite;
        }
        &--right {
            animation: loading-right ease-in-out 1.5s;
            animation-fill-mode:forwards;
            animation-iteration-count: infinite;
        }
    }

    @keyframes loading-text {
      0% {
        opacity:0;
      }
      50% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }

    @keyframes loading-left {
      0% {
        opacity:1;
        transform:  translate(0px,0px);
      }
      50% {
        opacity:0.25;
        transform:  translate(75px,0px);
      }
      100% {
        opacity:1;
        transform:  translate(0px,0px);
      }
    }

    @keyframes loading-right {
      0% {
        opacity:1;
        transform:  translate(0px,0px);
      }
      50% {
        opacity:0.25;
        transform:  translate(-75px,0px);
      }
      100% {
        opacity:1;
        transform:  translate(0px,0px);
      }
    }
}
