div.about
  section.page-container
    article
      div.units-row
        h1(ng-bind='title')
        div.page-content(ng-bind-html='content')
      div.units-row
        h2 Services
        div.services
          span.label.label-black Professional writing
          span.label.label-black Website design and development
          span.label.label-black Social media
          span.label.label-black SEO
          span.label.label-black Illustration
          span.label.label-black Javascript7HTML5/CSS3
          span.label.label-black AngularJS
          span.label.label-black Digital strategy