div.about
  section.page-container
    article
      h1 About
      h2 Where there was once art, music, and flights of fancy, there are now merely ones and zeros. Beautiful ons and offs.
      p Yes, we are out there: Digital renaissance men and women, from whose minds and fingers flow the language and curiosity of humanists, designers, scientists and artists.
      p.
        I've been in new media since we evolved from the information dark ages, writing and producing multimedia websites, managing social media and looking at the world reflected to us from high resolution screens.
        My professional interests range from programming, UX, SEO, and design, to the mutating sociology, laws and language of the internet.
      p Clients I've worked with include international media corporations, celebrity musicians and writers, and small businesses, though my services are available to any one who requires a holistic and keen new media presence with careening emotion.
      p Blog and <em>actual</em> site coming soon.
      p In the meantime...
      p
        a(href='mailto:hello@ramon-james.com') Get in touch