div.blog
  section.page-container
    article
      section
        div.units-row
          ol.posts
            li(ng-repeat='post in posts track by $index', class='post-{{$index}}')
              a(ng-href='{{post.link}}', data-rest-url='/wordpress/wp-json/posts/{{post.ID}}')
                figure.squeeze
                  img(ng-src="{{post.featured_image.source}}", alt="{{post.featured_image.title}}")
                  figcaption
                    h2(ng-bind='post.title')
                    span
                      date {{ post.date | date : 'MMMM d, y' }}
        div.units-row(ng-if='count > 5')
          ul.pagination
            li
              a(href='#', ng-click='', ng-class='') &larr;
            li  
              span {{currentPage}} of {{pages}}    
            li
              a(href='#', ng-click='', ng-class='') &rarr;        