div.blog
  section.page-container
    article
      div.units-row
        h1 Blog
        div.page-content
          ol.posts
           li(ng-repeat="post in posts")
             h2(ng-bind="post.title")
             div.post-excerpt(ng-bind-html="post.excerpt")