div.contact
  section.page-container
    article
      div.units-row.grid.end
        div.unit-50(data-flip='', data-delay='1')
          h1(ng-bind='heading')
        div.unit-50(data-flip='', data-delay='350')
      div.units-row.grid.end
        div.unit-66(data-flip='', data-delay='150')
          div.page-content(ng-bind-html='content')
        div.unit-33(data-flip='', data-delay='650')
      div.units-row.end.clearfix
        div.units-row.grid.end
          div.unit-33(data-flip='', data-delay='150')
          div.unit-66(data-flip='', data-delay='350')
        div.units-row.grid.end
          div.unit-25(data-flip='', data-delay='450')
          div.unit-75(data-flip='', data-delay='550')
        div.units-row.grid.end
          div.unit-75(data-flip='', data-delay='650')
          div.unit-25(data-flip='', data-delay='750')
        div.units-row.grid.end
          div.unit-50(data-flip='', data-delay='850')
          div.unit-50(data-flip='', data-delay='950')
        div.units-row.grid.end
          div.unit-50(data-flip='', data-delay='1050')
          div.unit-50(data-flip='', data-delay='1150')
        div.units-row.grid.end
          div.unit-33(data-flip='', data-delay='1250')
          div.unit-33(data-flip='', data-delay='1350')
          div.unit-33(data-flip='', data-delay='1450')
        div.units-row.end
          div.unit-100
