// fonts
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700);

// imports
@import 'kube/kube.less';
@import '_variables.less';
@import '_typography.less';
@import '_gelatin-button.less';

body {
  background-color: #fff;
  color:#000;
  font-family: @font-serif;
  overflow:auto;
  &.loading {
    overflow:hidden;
    .loading-logo {
        display:block;
    }
  }
}
header,
section,
article,
main,
nav,
footer {
  display: block;
}
nav {
  li {
    display:inline-block;
    list-style:none;
  }
}

header {
  background-color: #000;
  height: 50px;
  z-index:1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
main {
  position:relative;
}
section {
  position:relative;
  .bgc {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .slide-container {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .slide-content {
      max-width: 450px;
      margin: -150px auto 0 auto;
      display: table-cell;
      vertical-align: middle;
      padding: 0 8%;
      text-align: center;
      @media(@xs) {
       max-width: 250px;
      }
    }

    .slide-content {
         h2 {
            color:white;
            font-size:2.4rem;
          @media(@sm) {
           font-size:4rem;
          }
         }
         p {
             font-size:1.3rem;
                   @media(@sm) {
                    font-size:2rem;
                   }
         }

    }
  }
  &.slide {
    height:100%;
  }
  &.page-container {
    margin:4rem;
  }
}
article {
    font-size:1.4rem;
    @media(@sm) {
     font-size:2rem;
    }
    h1 {
        font-size:4rem;
        margin:0 0 1rem 0;
    }

    h2 {
        font-size:2rem;
        margin:0 0 .7rem 0;
    }
    p {
        margin:0 0 1rem 0;
    }
}
canvas[resize] {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:10001;
}
#slide-1 {
  .bgc {
      background-color:#fff;
  }
  .slide-container {
    .slide-content {
        h1 {
            font-size:1.8rem;
            text-transform:uppercase;
        }
        p {
            font-size:2rem;
            text-transform:lowercase;
            color:#888;
        }
    }
    img {
        display:inline-block;
        max-width:100%;
    }
  }
}
#slide-2 {
   .bgc {
       background-color:#000;
       color:#fff;
   }
   .slide-content {

    padding-top:3rem;

   }
 }
 #slide-3 {
    .bgc {
        background:#ebebeb url('/img/light_movement_black_white.jpg');
        color:#000;
    }
    .slide-content {
        padding-top:3rem;
        padding-bottom:3rem;
        .services {
            margin-bottom:2rem;
                     .label {
                        font-size:1.5rem;
                     }
        }

      h2, h3, p {
          color:black;
          font-size:3rem;
      }
      a {
font-size:2,5rem;
      }
    }
    .image-tiles {
        margin-bottom:2rem;
        img {
            height:75px;
            display:inline-block;
            margin:0 10px 10px 0;
        }
    }
  }
footer {
  background-color: #000;
  text-transform:uppercase;
  color:#fff;
  padding:1rem 2rem;
  font-size:1.1rem;
  a {
    color:#fff;
    text-decoration:none;
  }
  li {
    padding-right:12px;
  }
  @media(@sm) {
    p.copy {
      float:right;
    }
  }
}

//loading
.loading-logo {
  display:none;
  background:white;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:10000;
  text-align:center;
  div {
    margin:0 auto;
    position:absolute;
    left:45%;
    top:40%;
    p {
    font-size:1rem;
                text-transform:uppercase;
    }
  }
}

.loading-logo > div {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate {
    0% {opacity: 0.1}
    10% {opacity: .20}
    20% {opacity: .40 }
    30% {opacity: .60 }
    40% {opacity: .80 }
    50% {opacity: 1.0}
    60% {opacity: .80}
    70% {opacity: .60}
    80% {opacity: .40}
    90% {opacity: .20}
    100% {opacity: 0.1}
 }

// svg
#svg-logo {
    width:100px;
    height:100px;
    background:transparent;
    -webkit-transform: scale(3, 3);
    -o-transform: scale(3, 3);
    transform: scale(3, 3);
    .svg-black-fg-man {
       // width:400px;
            .black-fg-man {
                    fill:none;
                    stroke:#000;
                    stroke-width:29;
                    stroke-miterlimit:10;
            }
        }

    .svg-grey-bg-man {
       // width:400px;
        .grey-bg-man {
                fill:none;
                stroke:#d1d1d1;
                stroke-width:29;
                stroke-miterlimit:10;
        }
     }

     &.no-js {

     }
}


// ng-animate
.view-animate.ng-enter,
.view-animate.ng-leave {
  .transition(all .25s ease-out);
}
.view-animate.ng-enter {
  
}
.view-animate.ng-enter.ng-enter-active {
}
.view-animate.ng-leave.ng-leave-active {
   opacity:0;
}