// fonts
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700);

// imports
@import 'kube/kube.less';
@import '_variables.less';
@import '_typography.less';
@import '_gelatin-button.less';
@import '../../bower_components/swiper/src/less/swiper.less';


body {
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff;
  color:#000;
  font-family: @font-serif;
  overflow:auto;
  .selection(244, 244, 244);
  &.loading {
    overflow:hidden;
    .loading-logo {
        display:block;
    }
  }
}
header,
section,
article,
main,
nav,
footer {
  display: block;
}
nav {
  li {
    display:inline-block;
    list-style:none;
  }
}

header {
  height: 63px;
  text-transform:uppercase;
  color:#000;
  padding:0.1rem 0.2rem 0.1rem 0;
  font-size:1rem;
  width:100%;
  position:fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
  background:rgba(255,255,255,0.97);
  border-bottom:1px solid #d6d6d6;
  overflow:hidden;
  @media(@md) {
    height: 83px;
  }
  .brand, ul {
    display:inline-block;
  }
  a {
    color:#000;
  }
  .navbar {
    width:400px;
    position:relative;
    margin-left: 2rem;
    margin-right: 2rem;
    ul {
      .transition(all .5s ease-out);
      left:70px;
      position:absolute;
      opacity:0;
      top:20px;
      z-index:1002;
      @media(@md) {
        top:28px;
      }
      li {
        margin-right:16px;
      }
    }
    &:hover,
    &:active {
      ul {
        left:79px;
        opacity:1;
        @media(@md) {
          left:90px;
        }
      }
      #svg-logo .svg-grey-bg-man {
        opacity:1;
      }
    }
  }
  .brand {
    a {
      display:block;
      position:absolute;
      height:100px;
      width:60px;
      height:60px;
      top:0;
      left:0;
      z-index:1003;
      overflow:hidden;
      @media(@md) {
        width:75px;
        height:75px;
      }
    }
    overflow:hidden;
  }
}

.touch {
  header {
    .navbar {
      ul {
        left:79px;
        opacity:1;
        top:20px;
      }
    }
  }
}

main {
  position:relative;
}
section {
  position:relative;
  .bgc {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .slide-container {
    .slide-content {
      width:100%;
      margin: 0 auto;
      padding: 0 8%;
      text-align: center;
      article {
        padding:0;
        text-align:left;
        &.text-centered {
          text-align:center;
        }
      }
      h2 {
        color:white;
        font-size:2.4rem;
        margin-bottom:.4rem;
        @media(@sm) {
          font-size:4rem;
        }
      }
      p {
        font-size:1.3rem;
        @media(@sm) {
          font-size:2rem;
        }
      }
    }
  }
  &.slide {
    height:100%;
  }
  &.page-container {
    margin:2rem;
    @media(@sm) {
      font-size:4rem;
    }
  }
  .swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
}
article {
  padding-top:75px;
  font-size:1.4rem;
  .clearfix;
  @media(@sm) {
    font-size:2rem;
  }
  h1 {
    font-size:4rem;
    margin:0 0 3.5rem 0;
  }
  h2 {
    font-size:2.5rem;
    margin:0 0 .1rem 0;
  }
  p {
    margin:0 0 1rem 0;
    line-height:1.5;
  }
  date {
    display:block;
    color:#7a7a7a;
    font-size:1.8rem;
    margin:0 0 1rem 0;    
  } 
  img {
    width:100%;
    display:block;
    margin-bottom:1rem;
    @media(@sm) {
      width:auto;
      max-width:100%;
    }
  }
  ol.posts {
    list-style:none;
    margin-left:0;
    li {
      margin:0 0 3% 0;
      background:#222;
      .box-sizing(border-box);
      overflow: hidden;
      vertical-align: top;
      height:200px;
      float:none;
      width:100%;
      a {
        display:block;
        height:100%;
      }
      h2, date {
        color: white;
        font-size:1.3rem;
      }
      h2 {
        font-size:2rem;
      }
      div {
        margin:10px;
        background-color: rgba(0,0,0,.5);
        padding:10px;
        display: inline-block;
      } 
      @media(@sm) {
        &.post-0 {
          width:100%;
          height:500px;
          .clearfix;
        }
        &.post-1 {
          width: 48.5%;
          float: left;
          height:300px;
          h2 {
            font-size:1.6rem;
          }        
        }
        &.post-2 {
          width: 48.5%;
          margin-left: 3%;
          float: left;
          height:300px;
          h2 {
            font-size:1.6rem;
          }        
        }
        &.post-3 {
          h2 {
            font-size:1.3rem;
          }
          width: 31.333333333333332%;
          float: left;
        }
        &.post-4 {
          h2 {
            font-size:1.3rem;
          }
          width: 31.333333333333332%;
          margin-left: 3%;
          float: left;
        }
        &.post-5 {
          h2 {
            font-size:1.3rem;
          }
          width: 31.333333333333332%;
          margin-left: 3%;
          float: left;
        }
      }      
    }    
  }
  .services {
    .label {
      font-size:1.5rem;
      text-align:left;
    }
  }
}
canvas[resize] {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:10001;
}
#slide-1 {
  .bgc {
    background-color:#fff;
  }
  .slide-container {
    margin-top:100px;
    @media(@md) {
      margin-top:155px;
    }
    .slide-content {
      h1, h2 {
        color:black;
        font-size:1.4rem;
        text-transform:uppercase;
        background:rgba(255, 255, 255, .97);
        display:inline-block;
        padding:.2rem .4rem;
        @media(@md) {
          font-size:1.8rem;
        }
        margin: 0 0 1rem 0;
      }
      p {
        font-size:1.3rem;
        text-transform:lowercase;
        color:#888;
        background:rgba(255, 255, 255, .97);
        display:inline-block;
        padding:.2rem .4rem;
        @media(@md) {
          font-size:2rem;
        }
      }
    }
    img.logo {
      display:block;
      max-width:50%;
      margin:0 auto;
    }
  }
}
#slide-2 {
   .bgc {
     background-color:#000;
     color:#fff;
   }
   .slide-content {
     padding-top:3.5rem;
   }
 }
 #slide-3 {
  .bgc {
    background:#ebebeb url('/img/light_movement_black_white.jpg');
    color:#000;
  }
  .slide-content {
    padding-top:3rem;
    padding-bottom:3rem;
    .services {
      margin-bottom:2rem;
      .label {
        font-size:1.5rem;
      }
    }
    h2, h3, p {
      color:black;
      font-size:3rem;
    }
    a {
      font-size:2,5rem;
    }
  }
  .image-tiles {
    margin-bottom:2rem;
    img {
      height:75px;
      display:inline-block;
      margin:0 10px 10px 0;
    }
  }
}
footer {
  background-color: #000;
  text-transform:uppercase;
  color:#fff;
  padding:1rem 2rem;
  font-size:1.1rem;
  a {
    color:#fff;
    text-decoration:none;
  }
  li {
    padding-right:12px;
  }
  @media(@sm) {
    p.copy {
      float:right;
    }
  }
}

//loading
.loading-container {
  display:block;
  background:white;
  width:100%;
  height:100%;
  position:fixed;
  bottom:0;
  left:0;
  z-index:10000;
  text-align:center;
  opacity: 1;
  .transition(all .25s ease-out);
  &.hide {
    height:0%;
    opacity:0;
  }
  div.logo {
    margin:0 auto;
    position:absolute;
    left:45%;
    top:40%;

    .svg-grey-bg-man {
      -webkit-animation-name: pulsate;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-timing-function: ease-out;
      -webkit-animation-iteration-count: infinite;    
    }
    
    p {
      font-size:1rem;
      text-transform:uppercase;
    }
  }
}
@-webkit-keyframes pulsate {
  0% {opacity: 0.1}
  10% {opacity: .20}
  20% {opacity: .40 }
  30% {opacity: .60 }
  40% {opacity: .80 }
  50% {opacity: 1.0}
  60% {opacity: .80}
  70% {opacity: .60}
  80% {opacity: .40}
  90% {opacity: .20}
  100% {opacity: 0.1}
 }

// svg
#svg-logo {
  width:60px;
  height:60px;
  background:transparent;
  -webkit-transform: scale(3, 3);
  -o-transform: scale(3, 3);
  transform: scale(3, 3);
  @media(@md) {
    width:75px;
    height:75px;
  }
  .svg-black-fg-man {
    .black-fg-man {
      fill:none;
      stroke:#000;
      stroke-width:29;
      stroke-miterlimit:10;
    }
  }
  .svg-grey-bg-man {
    opacity:0;
    .transition(opacity .25s ease-out);
    .grey-bg-man {
      fill:none;
      stroke:#d1d1d1;
      stroke-width:29;
      stroke-miterlimit:10;
    }
  }
}


// ng-animate
.view-animate.ng-enter,
.view-animate.ng-leave {
  .transition(all .25s ease-out);
}
.view-animate.ng-enter {
  opacity:0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity:0;
}
.view-animate.ng-leave.ng-leave-active {
   opacity:0;
}