doctype html
html(lang='en', ng-app='ramonjames', ng-controller='MainController')
  head
    include ./includes/head.jade
  body(ng-class='{loading:loading}')
    header
      nav.navbar
        div.brand
          a(href='/')
            include ./includes/logo.jade
        ul
          li
            a(href='/blog') Blog
          li
            a(href='/about') About
          li
            a(href='mailto:hello@ramon-james.com') Contact
    main#main.view-animate-container
      div.view-animate(ng-view='', ng-cloak='')
    footer
      div.units-row
        div.unit-70
          nav.navbar
            ul
              li
                a(href='/') Home
              li
                a(href='/blog') Blog
              li
                a(href='/about') About
              li
                a(href='mailto:hello@ramon-james.com') Contact
        div.unit-30
          p.copy
            span.org &copy; &nbsp;
            a(href='/') {{title}} Ltd &nbsp;
            span.date #{new Date().getFullYear()}
    if vendor
      each val in vendor
        script(src=val, type='text/javascript')
    each val in scripts.body
      script(src=val, type='text/javascript')